body{
    background-color: rgb(255, 255, 255);
}
.post{
    
    width: 260px;
    padding: 20px;
}
.post img{
    
    width: 100%;
}
.auther{
    color: rgba(0, 0, 0, 0.658);

}
h3{
    font-size: 17px;
}

.contain{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.first-color { 
	background: #ececec; 
}
	
.second-color { 
	background: #9fd3c7; 
}

.third-color { 
	background: #385170; 
}

.fourth-color { 
	background: #142d4c; 
}